<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.task.job.dao.JobMqInvokeMapper" >
  <resultMap id="BaseResultMap" type="com.task.job.dao.JobMqInvoke" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="QUEUE_NAME" property="queueName" jdbcType="VARCHAR" />
    <result column="ROUTING_KEY" property="routingKey" jdbcType="VARCHAR" />
    <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, QUEUE_NAME, ROUTING_KEY, IS_VALID, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from KERNEL_JOB_MQ_INVOKE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from KERNEL_JOB_MQ_INVOKE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.task.job.dao.JobMqInvoke" useGeneratedKeys="true" keyProperty="id" >
    insert into KERNEL_JOB_MQ_INVOKE (QUEUE_NAME, ROUTING_KEY, IS_VALID, 
      CREATED_AT, CREATED_BY, UPDATED_AT, 
      UPDATED_BY)
    values (#{queueName,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, #{isValid,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.task.job.dao.JobMqInvoke" useGeneratedKeys="true" keyProperty="id" >
    insert into KERNEL_JOB_MQ_INVOKE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="queueName != null" >
        QUEUE_NAME,
      </if>
      <if test="routingKey != null" >
        ROUTING_KEY,
      </if>
      <if test="isValid != null" >
        IS_VALID,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="queueName != null" >
        #{queueName,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.task.job.dao.JobMqInvoke" >
    update KERNEL_JOB_MQ_INVOKE
    <set >
      <if test="queueName != null" >
        QUEUE_NAME = #{queueName,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        ROUTING_KEY = #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        IS_VALID = #{isValid,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.task.job.dao.JobMqInvoke" >
    update KERNEL_JOB_MQ_INVOKE
    set QUEUE_NAME = #{queueName,jdbcType=VARCHAR},
      ROUTING_KEY = #{routingKey,jdbcType=VARCHAR},
      IS_VALID = #{isValid,jdbcType=CHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>